# Copia este archivo como .env y completa con tus credenciales de Neon
# NUNCA subas el archivo .env a GitHub

DB_URL=jdbc:postgresql://ep-noisy-sea-aqnnmy17-pooler.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require
DB_USERNAME=neondb_owner
DB_PASSWORD=tu_password_de_neon
PORT=8080
